@font-face {
    font-family: roboto;
    src: url(../font/roboto.woff2);
}
* {
    box-sizing: border-box;

}
body{
    font-family: roboto;
    margin: 0;
}
.justify-content-between {
    justify-content: space-between;
}
.justify-content-center {
    justify-content: center;
}
.align-items-center {
    align-items: center;
}
.row {
    display: flex;
}
header {
    padding: 6px 30px;
}
.sesion {
    font-weight: bold;
    font-size: 14px;
    align-items: left;
    border-radius: 40px;
    border: 1px solid rgb(233, 233, 233);
    background-color: rgb(253, 251, 251);
    padding: 10px 10px;
}
.registro {
    font-weight: bold;
    padding: 10px 10px;
    border-radius: 40px;
    border: 1px solid black;
    background-color: rgb(0, 0, 0);
    color: white;
}
.h-500{
    height: 500px;
}
.bg1{
    width: 50%;
    background-image: url(../img/fondo1.svg);
    background-repeat: no-repeat;
}
.bg2{
    width: 50%;
    background-image: url(../img/fondo2.svg);
    background-repeat: no-repeat;
    background-position-x:right;
}
.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.bg-beige {
 background-color: #fff2d8;
}
.text-center{
    text-align: center;
}
.impit{
    width: 300px;
    padding: 6px 30px;
    background-image: url(../img/map-market.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position-y: center;
    border: 0;
}
.enviar {
    padding: 6px;
    border-radius: 8px;
}
.imagenes{
    width: 100%;
    margin: 0 auto;
    padding: 20px 20px;
    
}
.imagenes2{
    width: 100%;
    padding: 0 10px;
    
}
a {
    color: grey;
    font-size: 14px;
    
}
.fondo{
    background-color: red;
}
.categorias{
    padding: 5px 30px;

}
.tamano{
    margin: 0 5px;
    width: 200px;
    height: 60px;
    padding: 10px 10px;
}
.foto1{
    background-image: url(../img/FastFood.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: contain;
    background-color: #f5f0ea;
}
.foto2{
    background-image: url(../img/American.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: contain;
    background-color: #f5f0ea;
}
.foto3{
    background-image: url(../img/Chinese.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: contain;
    background-color: #f5f0ea;
}
.foto4{
    background-image: url(../img/FastFood.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: contain;
    background-color: #f5f0ea;
}
.foto5{
    background-image: url(../img/Asian.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: contain;
    background-color: #f5f0ea;
}
.foto6{
    background-image: url(../img/FastFood.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: contain;
    background-color: #f5f0ea;
}
.foto7{
    background-image: url(../img/FastFood.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: contain;
    background-color: #f5f0ea;
}



